<!--Base template used throughout the project by inherit this template/ html file-->
<!--Images & graphical contents linking with the template by using %load static% tag-->
<!--Commented out are the UI feature that can be utilize for future enhancement e.g buttons, contents-->


{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyStore Inventory</title>
    <link
      href="{% static 'mystorev2/css/estilo.css'%}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <!--wrapper start-->
    <div class="wrapper">
      <!--header start-->
      <div class="header">
        <div class="header-menu">
          <div class="title">MyStore <span>V2.1</span></div>
          <div class="sidebar-btn">
            <i class="fas fa-bars"></i>
          </div>
          <ul>
            {% comment %} <li>
              <a href=""><i class="fas fa-search"></i></a>
            </li>
            <li>
              <a href=""><i class="fas fa-bell"></i></a>
            </li> {% endcomment %}
            <li>
              <a href="/logout/"><i class="fas fa-power-off"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!--header menu end-->
      <!--sidebar start-->
      <div class="sidebar">
        <div class="sidebar-menu">
          <center class="profile">
            <img src="{% static 'mystorev2/img/profile/monkey.png'%}" alt="" />
            <p>Welcome {{user.username}}</p>
          </center>
          <li class="item">
            <a href="/" class="menu-btn">
              <i class="fas fa-desktop"></i><span>Dashboard</span>
            </a>
          </li>
          <li class="item" id="profile">
            <a href="#profile" class="menu-btn">
              <i class="fas fa-user-circle"></i
              ><span
                >Management <i class="fas fa-chevron-down drop-down"></i
              ></span>
            </a>

            <div class="sub-menu">
              <a href="/management"
                ><i class="fas fa-image"></i><span>Access Manager</span></a
              >
              {% comment %} SUB-MENU INFO BUTTON ########################### {% endcomment %}
               {% comment %} <a href="#"
                ><i class="fas fa-address-card"></i><span>dep</span></a {% endcomment %}
              
            </div>
          </li>
          {% comment %} SIDEBAR SETTINGS BUTTON
          #####################################
          <li class="item" id="messages">
            <a href="#profile" class="menu-btn">
              <i class="fas fa-envelope"></i
              ><span
                >Messages<i class="fas fa-chevron-down drop-down"></i
              ></span>
            </a>
            <div class="sub-menu">
              <a href="#"><i class="fas fa-envelope"></i><span>New</span></a>
              <a href="#"
                ><i class="fas fa-envelope-square"></i><span>Sent</span></a
              >
              <a href="#"
                ><i class="fas fa-exclamation-circle"></i><span>Spam</span></a
              >
            </div>
          </li>
          {% comment %} SIDEBAR SETTINGS BUTTON
          #####################################
          <li class="item" id="settings">
            <a href="#profile" class="menu-btn">
              <i class="fas fa-cog"></i
              ><span
                >Settings<i class="fas fa-chevron-down drop-down"></i
              ></span>
            </a>
            <div class="sub-menu">
              <a href="#"><i class="fas fa-lock"></i><span>Password</span></a>
              <a href="#"><i class="fas fa-lock"></i><span>Language</span></a>
            </div>
          </li>
                    {% endcomment %}
          <li class="item">
            <a href="/login" class="menu-btn">
              <i class="fas fa-info-circle"></i><span>Login</span>
            </a>
          </li>

        </div>
      </div>
      <!--sidebar end-->
      <!--main container start-->
      {% block content %} {% endblock%}
      <!--main container end-->
    </div>
    <!--wrapper end-->

    <script type="text/javascript">
      $(document).ready(function () {
        $(".sidebar-btn").click(function () {
          $(".wrapper").toggleClass("collapse");
        });
      });
    </script>
  </body>
</html>
