{% extends 'base.html' %} {% block content%}
<!--main container start-->

<!--JavaScript start-->
<script>
  function clicked(e) {
    if (!confirm("Proceed for deletion? This process is irreversible.")) {
      e.preventDefault();
    }
  }
</script>
<!--JavaScript end-->

<div class="main-container">
  <div class="card">
    {% if user.is_staff%}

    <p>
      Your last visit was on {{user.last_login}}
      <br /><br />
    </p>
  </div>
  <div class="card">
    <h2 style="color: red">Remove Warehouse</h2>
  </div>
  <div class="card">
    <form method="post">
      {% csrf_token %}
      <h3 style="color: red">You are removing "{{ object }}".</h3>
      <h3 style="color: red">"{{ object }}" will be deleted.</h3>
      <br />

      Name: {{object}}<br />
      Description: {{object.wh_desc}}<br /><br />

      <a href="/">
        <button type="button" class="btn btn-primary">Back</button>
      </a>
      &nbsp;
      <button type="submit" class="btn btn-primary" onClick="clicked(event)">
        Delete
      </button>
    </form>
    {% else %}
    <p>
      You are not authorized to view this page. Please contact administrator or
    </p>
    <p>Login<a href="/login"> with the right access here</a></p>
    {% endif %}
  </div>
</div>
<!--main container end-->
{% endblock%}
